image:
  pullPolicy: IfNotPresent
  repository: jesec/flood
  tag: 4.12.5@sha256:79410056d35910aaabf5da38f8cc4ae31bba85bc3da634ddb1e23a5b14b4f2ec
persistence:
  data:
    enabled: true
    mountPath: /data
portal:
  open:
    enabled: true
service:
  main:
    ports:
      main:
        port: 10036
        targetPort: 3000
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            FLOOD_OPTION_RUNDIR: /data
