image:
  pullPolicy: IfNotPresent
  repository: gotson/komga
  tag: 1.24.1@sha256:a84a0424e2f8235ba9373ed10b9b903e0feecdbb500a1b4aebac01f08e9e57db
persistence:
  config:
    enabled: true
    mountPath: /config
  data:
    enabled: true
    mountPath: /data
portal:
  open:
    enabled: true
service:
  main:
    ports:
      main:
        port: 10085
workload:
  main:
    podSpec:
      containers:
        main:
          env:
            SERVER_PORT: '{{ .Values.service.main.ports.main.port }}'
          probes:
            liveness:
              path: /actuator/health
              port: '{{ .Values.service.main.ports.main.port }}'
            readiness:
              path: /actuator/health
              port: '{{ .Values.service.main.ports.main.port }}'
            startup:
              port: '{{ .Values.service.main.ports.main.port }}'
              type: tcp
